<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>MyEclipse AuthzServer Examples</display-name>
    <description>
      OAuth Authorization Server examples using Eclipse for: JSP, Java Beans, Servlets
    </description>

    <!-- Define servlets that are included in the example application -->

    <servlet>
        <servlet-name>AuthzServer</servlet-name>
        <servlet-class>AuthzServer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AuthzServer</servlet-name>
        <url-pattern>/servlet/AuthzServer</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TokenServer</servlet-name>
        <servlet-class>TokenServer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TokenServer</servlet-name>
        <url-pattern>/servlet/TokenServer</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>ResourceQueryServer</servlet-name>
        <servlet-class>ResourceQueryServer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ResourceQueryServer</servlet-name>
        <url-pattern>/servlet/ResourceQueryServer</url-pattern>
    </servlet-mapping>	


</web-app>